<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-6 mt-5">
            <ng-lottie [options]="lottieOptions"></ng-lottie>
        </div>
        <div class="col-md-6">
            <div class="intro-container" style="justify-content: center; display: flex;">
                <h1 style="color: #6600ff">Know Who I'M</h1>
            </div>
            <div class="container-fluid">
                <span class="details">Hi Everyone, I am <span style="color: #6600ff">{{details.firstname}} {{details.lastname}}</span> from <span style="color: #6600ff">{{aboutDetails.location}}.</span> <span *ngIf="aboutDetails.employed">I am currently employed as a {{aboutDetails.designation.toLowerCase()}} at <span style="color: #6600ff">{{aboutDetails.organization}}.</span></span> {{aboutDetails.careerdetails}}</span>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h1 class="skill-heading">Professional Skillsets</h1>
    </div>
    <div class="row" style="justify-content: center; padding-bottom: 50px">
        <div class="col-sm-2 col-md-2 tech-icons" *ngFor="let skill of skills" title="{{skill}}">
            <img src="assets/skills/{{skill}}.svg" style="height: 6rem; width: 6rem;" alt="{{skill}}"/>
        </div>
    </div>
</div>
