<div class="container-fluid mt-5">
    <div class="row ms-2 me-2" *ngFor="let certificate of certificationDetails.certificates">
        <div class="col-md-6">
            <img class="center-fit" src="assets/certificates/{{certificate.imagename}}" alt={{certificate.alt}}/>
        </div>
        <div class="col-md-6 details" >
            <h1 style="color: #6600ff; margin-top: 65px;">{{certificate.name}}</h1>
            <p >{{certificate.details}}</p>
            <ul *ngFor="let learningpoint of certificate.learningpoints">
                <li>{{learningpoint}}</li>
            </ul>
        </div>
    </div>
</div>