<div class="container-fluid mt-5">
    <div class="row ms-2 me-2" >
        <div class="col-md-6">
            <img class="center-fit" src="assets/certificates/AWS Certified Cloud Practitioner certificate_page-0001.jpg" alt="aws cloud practitioner certificate"/>
        </div>
        <div class="col-md-6 details" >
            <h1 style="color: #6600ff; margin-top: 65px;">AWS Certified Cloud Practioner</h1>
            <p >I have completed AWS Cloud Practioner certification on April, 2023. By completing this certificate I achieved following technical milestone,</p>
            <ul>
                <li>
                    I've acquired a comprehensive understanding of basic AWS Cloud architectural principles, enabling me to design and deploy scalable and reliable cloud solutions.
                </li>
                <li>
                    I've mastered key AWS services, such as EC2, S3, RDS, and IAM, learning their functionalities, use cases, and best practices for implementation.
                </li>
                <li>
                    I've learned essential AWS security practices and compliance measures.
                </li>
            </ul>
        </div>
    </div>
</div>