.skill-heading{
    font-family: "Source Code Pro", sans-serif;
    color: #6600ff;
    justify-content: center;
    text-align: center; 
    display: flex;
  }
  .details {
    font-family: "Source Code Pro", sans-serif;
    color:#6c6c6c;
    font-size: 0.95rem;
    justify-content: center; 
    display: flex;
  }
  .tech-icons {
    font-size: 4.5em ;
    margin: 25px ;
    padding: 10px ;
    opacity: 0.93 ;
    vertical-align: middle ;
    border-radius: 5px ;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) ;
    overflow: hidden ;
    transition: all 0.4s ease 0s;
  }
  .tech-icons:hover {
    transform: scale(1.008) ;
    overflow: hidden ;
  }
  .btn-purple-fill {
    background-color: #6600ff;
    color: white;
    padding: .5rem;
  }
  .center-fit {
    max-width: 100%;
    max-height: 70vh;
    margin-top: 25px;
}