<div class="container-fluid mt-2">
    <div style="margin-top: 105px;">
        <h1 class="skill-heading">My Recent Works</h1>
        <p class="details">Here are my few project I've recently worked</p>
    </div>
    <div class="row tech-icons" *ngFor="let project of projectDetails.projects">
        <div class="col-md-6" style="justify-content: center; align-items: center; display: flex; ">
            <img src="assets/projects/{{project.imagename}}" class="center-fit" alt={{project.alt}}>
        </div>
        <div class="col-md-6" style="margin-top: 30px;">
            <h1 class="skill-heading">{{project.name}}</h1>
            <p class="details" style="font-size: 1rem;">{{project.details}}</p>
                <button class="btn btn-purple-fill" (click)="goTogitHub(project.sourcecode)">Source Code</button>
                <button class="btn btn-purple-fill" (click)="downloadApk(project.demourl)" style="margin-left: 25px; padding-left: 25px; padding-right: 25px;" *ngIf="project.isdemo">Demo </button>
        </div>
    </div>
</div>