<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="intro-container ms-5">
            <p style="color: #6600ff"><span class="wave">👋</span> I am {{details.firstname}},</p>
            <span class="type" style="--n:100">{{homeDetails.intro}}</span>
            </div>
            <div class="d-flex mt-3 ms-5 social">
                <a href= {{homeDetails.github}} class="d-inline-flex me-4 justify-content-center align-items-center">
                  <img src="assets/github.png" height="16" width="16" class="me-2">
                  <p class="pt-3">Github</p>
                </a>
                <a href={{homeDetails.linkdin}} class="d-inline-flex me-4 justify-content-center align-items-center">
                  <img src="assets/linkedin.png" height="16" width="16" class="me-2">
                  <p class="pt-3">LinkedIn</p>
                </a>
                <a href={{homeDetails.resume}} class="d-inline-flex justify-content-center align-items-center">
                  <img src="assets/resume.png" height="16" width="16" class="me-2">
                  <p class="pt-3">Resume</p>
                </a>
              </div>
        </div>
        <div class="col-md-6 mt-5">
            <ng-lottie [options]="lottieOptions"></ng-lottie>
        </div>
    </div>
</div>
